
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: #cccccc;
}


.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    border: rgb(0, 0, 0);

    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.selected {
    
    border: 2px solid blue;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex; 
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 24px;
}