
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: #cccccc;
}


.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected {
    
    border: 2px rgb(48, 131, 240) solid;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer {
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 24px;

}
.footer-one, .footer-two {
    display: flex;
    gap: 5px;
    align-items: start;

}